<!-- this is the markup for the basePopover -->
<div class="basePopoverContainer" id="basePopoverWrapper">
	<div class="basePopover">
	
		<div class="grid-container">
			
			<div class="grid-100">
				<h3 class="popoverHeader"><b>Popover</b> Header</h3>
				<a href="#" id="clickClose" class="btn btnWidget btnClose"><i class="fa fa-times-circle"></i> &nbsp;</a>
			</div>
			<div class="clear"></div>

			<div class="popoverHr"></div>
			
			
			<div class="grid-35 grid-parent">
				
				<div class="grid-100" id="">
					<div class="grid-100 tablet-grid-50 mobile-grid-50"><a href="#" class="popup-left-menu-item">Menu  Item</a></div>
					<div class="grid-100 tablet-grid-50 mobile-grid-50"><a href="#" class="popup-left-menu-item">Menu List Item Long Name</a></div>
					<div class="grid-100 tablet-grid-50 mobile-grid-50"><a href="#" class="popup-left-menu-item">Menu List Item</a></div>
					<div class="grid-100 tablet-grid-50 mobile-grid-50"><a href="#" class="popup-left-menu-item">Menu List Item</a></div>
					<div class="grid-100 tablet-grid-50 mobile-grid-50"><a href="#" class="popup-left-menu-item">Menu List Item</a></div>
				</div>
				<div class="right-border"></div>
				<div class="clear"></div>
			</div>
			
			<div class="popoverHr hide-on-desktop"></div>

			<div class="grid-65 grid-parent">
				<div class="grid-100 tablet-grid-25">
					<label>Control Label</label>
				</div>
				<div class="grid-100 tablet-grid-75">
					<input type="text" id="" value="" placeholder="Text Field" class="pn-control-plus" />
					<a href="#" class="btn btnWidget btnQuickAddNew" id="embeddedPopoverTrigger"><i class="fa fa-plus-circle"></i></a>
				</div>
			</div>
			<div class="clear"></div>

			<div class="popoverHr"></div>

			<div class="grid-100 grid-parent popoverButtons">
				<div class="grid-35 tablet-grid-35 mobile-grid-35">
					<a href="#" id="btnCancel" class="btn btnCancel">Cancel</a>
				</div>
				<div class="grid-65 tablet-grid-65 mobile-grid-65">
					<a href="#" id="btnSubmit" class="btn btnSubmit">Submit</a>
				</div>
			</div>
		</div><!-- end grid-container -->
	</div>
</div>
<!-- end markup for the basePopover -->