<!-- this is the markup for the embeddedPopover -->
<div class="embeddedPopover" id="embeddedPopoverWrapper">
	<div class="grid-container">
		<div class="grid-100">
			<h3 class="popoverHeader"><b>Add New</b></h3>
			<a href="#" id="clickCloseEmbed" class="btn btnWidget btnClose"><i class="fa fa-times-circle"></i> &nbsp;</a>
		</div>
		<div class="clear"></div>

		<div class="popoverHr"></div>
		
		<div class="grid-100 tablet-grid-95">
			<label>ControlLabel</label>
			<input type="text" placeholder="New DataItem" class="pn-control" />
		</div>

		<div class="grid-100 tablet-grid-95">
			<label>ControlLabel</label>
			<select type="text" placeholder="New DataItem" class="pn-control" multiple="">
				<option> --- </option>
				<option> --- </option>
				<option> --- </option>
			</select>
		</div>

		<div class="grid-100 tablet-grid-95">
			<label>ControlLabel</label>
			<input type="text" placeholder="New DataItem" class="pn-control" />
		</div>

		<div class="grid-50 tablet-grid-50">
			<label>Control Here</label>
			<input type="text" placeholder="Yo." class="pn-control" />
		</div>
		<div class="grid-50 tablet-grid-50">
			<label>Control Here</label>
			<input type="checkbox" class="pn-control" />
		</div>

		<div class="clear"></div>

		<div class="grid-100 grid-parent popoverButtons">
			<div class="grid-35 tablet-grid-35 mobile-grid-35">
				<a href="#" id="btnCancelEmbedded" class="btn btnCancel">Cancel</a>
			</div>
			<div class="grid-65 tablet-grid-65 mobile-grid-65">
				<a href="#" id="btnSubmitEmbedded" class="btn btnSubmit">Submit</a>
			</div>
		</div>
	</div>
</div>
<!-- end the markup for the embeddedPopover -->